 
 <div class="row">
<div class="col-lg-6">
            <highchart id="chart1" config="chartConfig" class="span10"></highchart>
            </div>
            
              <h3 class="col-lg-6 text-center">Add stocks</h3>
            <div class=" col-lg-6">
            
      <ul class="nav list nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in dol">
      <li><a href="#" >{{thing}}<button type="button" class="close" ng-click="deleteStock(thing)">×</button></a></li>
      </ul>
      </div>
     
      
       <div class="margin col-lg-6">
        <form>
    <div class="input-group">
    
      <input list="symbols"  required type="text" class="form-control " placeholder="Add..." ng-model="input" />
     <datalist id="symbols">
  <option value="GOOG">
  <option value="MSFT">
  
</datalist>
      <span class="input-group-btn">
        <button class="btn btn-secondary"  type="submit" ng-click="submitNew()">Add!</button>
        
      </span>
    </div>
    
  </div>
      </form>
      
    </div>
      
    </div>
   
      

     
    
 <!--<button ng-click="simple()">push</button>-->
  
